* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.summary p, .education p {
    margin-left: 20px;
}

.contact-info {
    margin: 10px 0;
}

.contact-info a {
    color: coral;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

.skills ul, .languages ul {
    list-style: none;
    padding-left: 20px;
}

.skills ul li, .languages ul li {
    background: teal;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
}

.skills li {
    margin-right: 8px;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    list-style: none;
}

.job {
    margin-bottom: 20px;
}

.job li {
    margin-left: 30px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

footer a {
    color: coral;
    text-decoration: none;
}